body{
    margin: 0;
    padding: 0;
    background-color: azure;
}
.header{
    display: flex;
    background-color: white;
    box-shadow: 10px;
}
img{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
}
.header h3{
    margin-top: 30px;
}
.header .login{
    display: flex;
    
}
.header .cart{
    display: flex;
}
.header .saller{
    display: flex;
}
.header .saller h3{
    margin-left: 50px;
}
.header .dot{
    display: flex;
}
.header input{
    height: 15px;
    width: 700px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(223, 227, 227);
}
.header h2{
    margin-left: 100px;
}